<app-wipes></app-wipes>
<div class="wrapper">
    <h1>List of blueprints</h1>
    <div class="container-crafts">
        <div class="user-list-all">
            <div class="user-name-avatar">
                <div class="avatar-img avatar-nm">
                    
                </div>

                <h2>Thantan</h2>
                <div class="hr-avatar"></div>
            </div>

            <div class="user-list" id="user-list">
                
            </div>
            
            <div class="crafts-btn">
                <input type="text" name="craft" id="craft" class="input-craft">
                <button><i class="fas fa-plus"></i></button>
                <button><i class="fas fa-minus"></i></button>
                <button><i class="fas fa-eraser"></i></button>
            </div>
        </div>
<!---------------------------------------------------->
        <div class="user-list-all">
            <div class="user-name-avatar">
                <div class="avatar-img avatar-gg">
                    
                </div>

                <h2>MeatAlive</h2>
                <div class="hr-avatar"></div>
            </div>

            <div class="user-list" id="user-list">
                
            </div>
            
            <div class="crafts-btn">
                <input type="text" name="craft" id="craft" class="input-craft">
                <button><i class="fas fa-plus"></i></button>
                <button><i class="fas fa-minus"></i></button>
                <button><i class="fas fa-eraser"></i></button>
            </div>
        </div>
<!---------------------------------------------------->

        <div class="user-list-all">
            <div class="user-name-avatar">
                <div class="avatar-img avatar-nh">
                    
                </div>

                <h2>L'incapable</h2>
                <div class="hr-avatar"></div>
            </div>

            <div class="user-list" id="user-list">
                
            </div>
            
            <div class="crafts-btn">
                <input type="text" name="craft" id="craft" class="input-craft">
                <button><i class="fas fa-plus"></i></button>
                <button><i class="fas fa-minus"></i></button>
                <button><i class="fas fa-eraser"></i></button>
            </div>
        </div>
<!---------------------------------------------------->

        <div class="user-list-all">
            <div class="user-name-avatar">
                <div class="avatar-img avatar-ec">
                    
                </div>

                <h2>Le Branquignol</h2>
                <div class="hr-avatar"></div>
            </div>

            <div class="user-list" id="user-list">
                
            </div>
            
            <div class="crafts-btn">
                <input type="text" name="craft" id="craft" class="input-craft">
                <button><i class="fas fa-plus"></i></button>
                <button><i class="fas fa-minus"></i></button>
                <button><i class="fas fa-eraser"></i></button>
            </div>
        </div>
        
    </div>
    
</div>

