<div class="container-crafts-wipes">
  <app-wipes></app-wipes>

  <div class="wrapper">
    <h1>List of blueprints</h1>
    <div class="container-crafts">
      <li *ngFor="let player_id of list_players">
        <div class="user-list-all">
          <div class="user-name-avatar">
            <div class="avatar-img avatar-nm"></div>
            <h2>{{ player_id }}</h2>
            <div class="hr-avatar"></div>
          </div>
          <div class="user-list" id="user-list">
            <div *ngFor="let stuff of dico_players_bps[player_id]">
              {{ stuff }}
            </div>
          </div>

          <div class="crafts-btn">
            <input type="text" name="craft" id="craft" class="input-craft" />
            <button (click)="addBlueprint()">
              <i class="fas fa-plus"></i>
            </button>
            <button (click)="removeBlueprint()">
              <i class="fas fa-minus"></i>
            </button>
            <button><i class="fas fa-eraser"></i></button>
          </div>
        </div>
      </li>
    </div>
  </div>
</div>
