
.wrapper{
    background: var(--lowerGrey);
}
.container-crafts-wipes{
    display: flex;
    background: var(--lowerGrey);
}
.container-crafts{
    padding : 1rem 3rem 0 3rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.user-list-all{
    width: 300px;
    background: var(--grey);
    border-radius: 5px;
    margin: 0 2.5rem 2.5rem 0;
}
.wrapper h1{
    padding : 1rem 3rem 0 3rem;
    text-align: center;
}

.crafts-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.crafts-btn button{
    font-size: 0.8rem;
    width: 40px;
    background: var(--almostWhite);
}

.crafts-btn button:nth-child(3):hover{
    background: var(--redRust);
}
.crafts-btn button:nth-child(2):hover{
    background: green;
}
.crafts-btn button:nth-child(4):hover{
    background: orange;
}
.user-list{
    background: var(--almostWhite);
    min-height: 250px;
    margin: 1rem 1rem 0 1rem;
    border-radius: 5px;
    padding: 1rem;

    display: flex;
    justify-items: center;
    flex-direction: column;

    overflow: auto;
}
.user-list a{
    color: var(--darkGrey);
    margin-right: 0.5rem;
}
.input-craft{
    width: 130px;
    height: 30px;
    margin: 0;
}

.hr-avatar{
    height: 1px;
    width: 70%;
    background: white;
    margin: auto;
    margin-bottom: 1rem;
}
.user-list-all h2{
    text-align: center;
    margin-bottom: 0.5rem;
}

.avatar-img{
    width: 120px;
    height: 120px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;
}


/* RESPONSIVE */
@media screen and (max-width: 580px) {
    .container-main{
        display: none;
      }
    .container-responsive{
        display: block;
    }
    .user-list-all{
        margin: auto;
        margin-bottom: 1rem;
        width: 100%;
    }
    .container-crafts{
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        margin: auto;
    }

}
/* > 580px*/
@media screen and (min-width : 581px){
    .container-main{
      display: block;
    }
    .container-resonsive{
      display: none;
    }
  }
  