<div class="container-crafts-wipes">
  <app-wipes></app-wipes>

  <div class="wrapper">
    <h1>List of blueprints</h1>
    <div class="container-crafts">
      <li *ngFor="let player_id of list_players">
        <div class="user-list-all">
          <div class="user-name-avatar">
            <div class="avatar-img avatar-nm"></div>
            <h2>{{ player_id }}</h2>
            <div class="hr-avatar"></div>
          </div>
          <div class="user-list" id="user-list">
            <div *ngFor="let stuff of dico_players_bps[player_id]">
              <a
                (click)="removeBlueprint(this.selected_wipe, player_id, stuff)"
              >
                <i class="fas fa-times"></i>
              </a>

              {{ stuff }}
            </div>
          </div>

          <div class="crafts-btn">
            <form class="example-form">
              <input
                type="text"
                placeholder="Pick one"
                aria-label="Number"
                matInput
                [formControl]="control"
                [matAutocomplete]="auto"
              />

              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredOptions | async"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </form>
            <button (click)="addBlueprint(player_id, control.value)">
              <div>
                <i class="fas fa-plus"></i>
              </div>
            </button>
            <button><i class="fas fa-eraser"></i></button>
          </div>
        </div>
      </li>
    </div>
  </div>
</div>
