.write-msg{
    margin-left: 1.5rem;
}
.from{
    display: flex;
    align-items: center;
    margin: 1rem 0.5rem 0.5rem 0;
}
.to{
    display: flex;
    align-items: center;
}
.text-area{
    margin-top: 1rem;
}
.text-area p{
    margin-bottom:  0.5rem;
}
.btns{
    display: flex;
}
.text-area textarea{
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}
.btn-green{
    color: white;
    background: rgb(75, 182, 33);
    margin: 0.5rem 1rem 0 0;
}
.btn-orange{
    color: white;
    background: rgb(255, 180, 40);
    margin: 0.5rem 1rem 0 0;
}
.btn-green:hover{
    background: rgb(121, 199, 91);
}
.btn-orange:hover{
    background: rgb(255, 204, 108);;
}
.receiver{
    margin-left: 27px;
}
.btn-add:hover{
    background: rgb(121, 199, 91);
}   