<!-- original -->
      <!-- 
        <label> From : <input #content placeholder="sender"/></label>
        <button (click)="add(content.value); content.value = ''">
          add
        </button>
        <button (click)="goBack()">go back</button>
      -->
   

<!--Nathan : juste pour viseul, seul from fonctionne-->
<div class="container">
  <app-messages></app-messages>

  <div class="write-msg">

      <div class="from">
        <label for="sender"> From : </label> <input id="sender" #content placeholder="sender"/>
        <button class="btn-add" (click)="add(content.value); content.value = ''">add</button>
      </div>
      
      <div class="to">
        <label for="receiver">To :</label>
        <input type="text" id="receiver" class="receiver" placeholder="receiver">
        <button class="btn-add" (click)="add(content.value); content.value = ''">add</button>
      </div>
      
      <div class="text-area">
        <textarea cols="50" rows="10" placeholder="Message ..." id="message-area"></textarea>
      </div>
      <div class="btns">

      </div>
      <button class="btn-green">Send</button>
      <button class="btn-orange" onclick="reset()">Clear</button>
      <button (click)="goBack()">Back</button>
  </div>
</div>


