<!-- original -->
<!-- 
        <label> From : <input #content placeholder="sender"/></label>
        <button (click)="add(content.value); content.value = ''">
          add
        </button>
        <button (click)="goBack()">go back</button>
      -->

<!--Nathan : juste pour viseul, seul from fonctionne-->
<div class="container">
  <app-messages></app-messages>

  <div class="write-msg">
    <div class="from">
      <label for="sender"> From : </label>
      <input id="sender" #sender placeholder="sender" />
    </div>

    <div class="to">
      <label for="receiver">To :</label>
      <input
        type="text"
        id="receiver"
        #receiver
        class="receiver"
        placeholder="receiver"
      />
    </div>

    <div class="text-area">
      <textarea
        cols="50"
        rows="10"
        #content
        placeholder="Message ..."
        id="message-area"
      ></textarea>
    </div>
    <div class="btns"></div>
    <button class="btn-green" (click)="add(sender.value, receiver.value, content.value); content.value = ''">Send</button>
    <button class="btn-orange" onclick="reset()">Clear</button>
    <button (click)="goBack()">Back</button>
  </div>
</div>
