<div class="container-wipes">
  <div>
    <div class="wipes-head">
      <h1>{{ user.pseudo }} #{{ user.id }}</h1>
    </div>

    <div class="wipes-main">
      <h2 class="title-wipe">YOUR WIPES <i class="fas fa-chevron-down"></i></h2>
      <div class="hr-wipes-list"></div>

      <div class="your-list">
        <div>
          <ul class="messages">
            <li *ngFor="let wipe of wipes">
              <div class="server-name">
                <a (click)="setCurrentWipe(wipe.id)">
                  <span class="badge">{{ wipe.server_name }}</span>
                </a>



                <div>
                <i class="fas fa-ellipsis-h" [matMenuTriggerFor]="dropDown"></i>
                <mat-menu #dropDown="matMenu" class="mat-menu-drop">
                  <button>
                    <a (click)="removeAuth2wipe(user.id, wipe.id)">
                      <i class="far fa-trash-alt" style="color: var(--redRust);"></i>
                    </a>
                  </button>
                  <div>
                  

                  <input
                    type="text"
                    class="input-friend"
                    id="invit_user_id"
                    #invit_user_id
                    placeholder="Add friend here ..."
                    (click)="$event.stopPropagation()"
                  />
                  <button>
                    <a (click)="authUser2Wipe(invit_user_id.value, wipe.id)"
                      ><i class="fas fa-user-plus" style="color: var(--redRust);"></i>
                    </a>
                  </button>
                </div>
                </mat-menu>
              </div>

              </div>

              <div class="hr-li"></div>
            </li>
          </ul>
        </div>

        <div class="add-wipe">
          <input
            type="text"
            name=""
            id="server_name"
            #server_name
            placeholder="Add a new server"
          />
          <a (click)="addWipe(server_name.value)">
            <i class="fas fa-plus-square"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="wipes-bottom">
    <i class="fas fa-server"></i>
    <p>{{ wipes.length }}</p>
    <i class="fas fa-user avatar-wipes"></i>
    <p>{{ wipePlayers }}</p>
  </div>
</div>

<script src="./assets/js/dropWipe.js"></script>
