<header>

  <div class="header">
    <a routerLink="/wipes" class="logo">
      <i class="fas fa-radiation logo-icon"></i>
      <div class="ang-title">
        {{ title }}
      </div>
    </a>

    <div class="right-side-menu">

      <div class="menu-icon">
        <a routerLink="/wipes">
          <i class="fas fa-server"></i>
        </a>
      </div>

      <div class="menu-icon">
        <a [routerLink]="['chat/', wipeService.currentWiperie]">
          <i class="fas fa-comment-dots"></i>
        </a>
      </div>

      <div class="menu-icon">
        <a [routerLink]="['crafts/', wipeService.currentWiperie]">
          <i class="fas fa-tools"></i>
        </a>
      </div>


      <div class="menu-icon">
        <i class="fas fa-user " [matMenuTriggerFor]="dropDown"></i>
        <mat-menu #dropDown="matMenu" class="mat-menu-drop">
          <button mat-menu-item>  <i class="fas fa-sign-in-alt"></i> Log in </button>
          <button mat-menu-item (click)="logout()"> <i class="fas fa-sign-out-alt"></i>Log out </button>
        </mat-menu>
      </div>


    </div>
  </div>
</header>

<router-outlet></router-outlet>
<div id="toTop" class="topInvisible" (click)="backToTop()">
  <i class="fas fa-arrow-up"></i>
</div>
