.header{
    background-color: var(--darkGrey) ;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1);
}
.logo-icon{
    font-size: 2rem;
    color: var(--redRust);
    margin-left: 1rem;
    transform: translateY(4px);
}
.ang-title{
    color: white;
    font-family: Rust;
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 0 2rem 0 1rem;
    transition: 5s;
    transform: translateY(4px); /*Correction du bug d'affichage de la police (s'affichait trop haut : erreur de conception de la police)*/
}
nav{
    display: flex;
    font-family: 'Mina', sans-serif;
}
nav a{
    margin: 0 3rem;
    transition: 0.03s;
}
nav, nav a{
    font-size: 1.4rem;
}
nav p{
    opacity: 0.2;
}
.logo{
    display: flex;
}