<header>
  <!-- <div class="logo"><img src="../img/logo.svg" alt="Angular-Rustine-Logo"></div> -->
  <div class="header">
    <a routerLink="/wipes" class="logo">
      <i class="fas fa-radiation logo-icon"></i>
      <div class="ang-title">
        {{ title }}
      </div>
    </a>

    <div class="right-side-menu">
      <div class="menu-icon">
        <a routerLink="/wipes">
          <i class="fas fa-home"></i>
        </a>
      </div>

      <div class="menu-icon">
        <a [routerLink]="['chat/', wipeService.currentWiperie]">
          <i class="fas fa-comment-dots"></i>
        </a>
      </div>

      <div class="menu-icon">
        <a [routerLink]="['crafts/', wipeService.currentWiperie]">
          <i class="fas fa-tools"></i>
        </a>
      </div>

      <div class="menu-icon">
        <i class="fas fa-bars dropbtn" onclick="drop()"></i>
        <div id="myDropdown" class="dropdown-content">
          <a href="#"> <i class="fas fa-sign-in-alt"></i> Connexion</a>
          <a routerLink="/wipes"> <i class="fas fa-user"></i> My profile</a>
          <a (click)="logout()"> <i class="fas fa-sign-out-alt"></i> Log out</a>
        </div>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
