
<div class="container-msg">


  <a routerLink="/write-message" class="hover-red"><h2>WRITE A MESSAGE</h2></a>
  <div class="hr-h hr-msg-pos"></div>

  <div class="h2-flex-ico">
    <h2>MESSAGES</h2> 
    <i class="fas fa-caret-down"></i>
  </div>
  
  <div class="hr-h hr-msg-pos"></div>
  <ul class="messages">
    <li *ngFor="let msg of messages">
      <a routerLink="/detail/{{ msg.id }}">
        <span class="badge">{{ msg.id }}</span> {{ msg.sender }} <div class="hr-li"></div>
      </a>
    </li>
  </ul>
</div>
 


