.container-msg{
        list-style-type: square;
        background: var(--grey);
        width: 270px;
        height: 100vh;
        padding: 1rem  0 1.5rem 1.5rem ;
        border-right: 2px solid var(--darkGrey);
}
a:hover{
        color: var(--redRust);
}
li{
        width: 250px;
        font-size: 1.2rem;
        font-weight: 300;
}
.container-msg-mail{
        display: flex;
}
