.msg-details-all{
    padding: 1.5rem 1.5rem;
    width: 50%;
    font-size: 1.2rem;
}
.msg-details-all h2{
    color: black;
}
.msg-details-all .hr-h{
    background: black;
    opacity: 0.8;
}
.msg{
    margin: 1rem 0;
    background: var(--lighterGrey);
    padding: 0.2rem 0rem 5rem 0.5rem;
    border-radius: 5px;

}
.hr-from-to{
    background: black;
    height: 1px;
    width: 80%;
    opacity: 0.2;
    margin: 0.4rem 0 0.4rem 0;
}
