/* You can add global styles to this file, and also import other style files */

/* variables */
:root{
    --lighterGrey :rgb(187, 187, 187);
    --lightGrey :rgb(77, 77, 77);
    --grey : rgb(66, 66, 66);
    --darkGrey : rgb(58, 58, 58);
    --darkerGrey : rgb(46, 46, 46);
    --redRust :#CD4128;
    --almostWhite : rgb(248, 248, 248);
}

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts import*/
@font-face {
    font-family: Rust;
    src: url(./fonts/Rust.ttf);
}
/* generiques */
.red{
    color: var(--redRust);
}
.hover-red:hover{
    color: var(--redRust);
}
/* general */
body{
    background: var(--lightGrey);
    font-family: 'Roboto', sans-serif;
}

a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style-type: none;
}
h1, h2, h3, h4{
    color: white;
    font-family: 'Mina', sans-serif;
    font-weight: 300;
}

